<div class="jumbotron">
    <h1>About</h1>
</div>

<div class="page-header">
    <h2>Purpose</h2>
    <p>For fun, etc.</p>
</div>

<div class="page-header">
    <h2>Frequently Asked Questions and Also Some Answers to Them</h2>
    <p><span class="label label-default">Q</span> What the fuck?</p>
    <p><span class="label label-info">A</span> Yes</p>
</div>

